{:paths ["src"
         ;"classes"
         ]
 :deps {aysylu/loom {:mvn/version "1.0.2"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
        cljplot/cljplot {:mvn/version "0.0.2a-SNAPSHOT"}
        io.github.adam-james-v/svg-clj {:mvn/version "0.0.9"}
        org.scicloj/wadogo {:mvn/version "0.1.0-SNAPSHOT"}

        com.taoensso/timbre {:mvn/version "5.1.2"} ; clj/cljs logging
        org.slf4j/slf4j-nop {:mvn/version "1.7.32"}

        ta/trateg {:local/root "../../lib/trateg" :deps/manifest :deps}
        ta/data {:local/root "../../lib/data" :deps/manifest :deps}
        ta/tradingview {:local/root "../../lib/tradingview" :deps/manifest :deps}
        org.pinkgorilla/reval {:mvn/version "0.0.37"}

        ;;
        }
 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  ; run with: clojure -X:run :task ':bybit-import' :symbol-list "currency-spot"
  ; see README.md for available tasks
  :run {:extra-paths ["cli"]
        :exec-fn demo.env.cli/run
        :exec-args {:config "ta-config.edn"}}

  :goldly-docs {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.459"}}
                :exec-fn goldly.app/goldly-server-run!
                :exec-args {:profile "jetty"
                            :config "ta-config.edn"}}




;
  }}

