{:paths ["src"
         ;"classes"
         ]
 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        aysylu/loom {:mvn/version "1.0.2"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
      ;  com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.0"}
        com.taoensso/timbre {:mvn/version "6.2.2"} ; clj/cljs logging
        org.pinkgorilla/reval {:mvn/version "0.5.137"}
        ; ta
        ta/trateg {:local/root "../../lib/trateg" :deps/manifest :deps}
        ta/data {:local/root "../../lib/data" :deps/manifest :deps}
        ta/tradingview {:local/root "../../lib/tradingview" :deps/manifest :deps}
        ta/indicator {:local/root "../../lib/indicator" :deps/manifest :deps}
        ta/astro {:local/root "../../lib/astro" :deps/manifest :deps}
        ta/gann {:local/root "../../lib/gann" :deps/manifest :deps}
        joseph/joseph {:local/root "../../lib/joseph" :deps/manifest :deps}
        ;;
        }
 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}}
             :main-opts ["-m" "antq.core"]}
  :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
           :main-opts ["-m" "cljfmt.main"
                       "--indents" "cljfmt.edn"]}

  ; example: clojure -X:run :task ':bybit-import' :symbol-list "currency-spot"
  ; see README.md for available tasks

  :run {:extra-deps {org.pinkgorilla/modular {:mvn/version "0.0.38"}
                     com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}}
        :extra-paths ["cli"]
        :exec-fn modular.system/start!
        :exec-args {:config "ta-config.edn"
                    :services "services-task.edn"
                    :run demo.env.task/run}
        :jvm-opts ["-Xmx4G"] ;; or more
        }

  :docs ; RUN SERVICES (keep running)
  {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.614"}
                com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}}
   :extra-paths ["target/webly" ; to include the sci-bindings info
                 "node_modules"
                 "resources"]
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :services "services-docs.edn" ; "goldly/services.edn"
               :config  ["webly/config.edn" "goldly/config.edn" "goldly/docs-config.edn"
                         "ta-config.edn"]}}

  ; clj -T:tree2
  :tree2 {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
          :exec-fn tree/demo}

  ; clj -X:docs:res2
  :res-logback-xml {:exec-fn resources/logback-xml}
  :res-logback-test-xml {:exec-fn resources/logback-test-xml}
  :res-deps-cljs  {:exec-fn resources/deps-cljs}
;
  }}
