{:paths ["src"
         ;"classes"
         ]
 :deps {aysylu/loom {:mvn/version "1.0.2"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
       
      ;  com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.0"}
        com.taoensso/timbre {:mvn/version "5.1.2"} ; clj/cljs logging
        org.slf4j/slf4j-nop {:mvn/version "2.0.0-alpha7"}
        org.pinkgorilla/reval {:mvn/version "0.0.37"}
        
        ta/trateg {:local/root "../../lib/trateg" :deps/manifest :deps}
        ta/data {:local/root "../../lib/data" :deps/manifest :deps}
        ta/tradingview {:local/root "../../lib/tradingview" :deps/manifest :deps}
        ta/astro {:local/root "../../lib/astro" :deps/manifest :deps}
        ta/gann {:local/root "../../lib/gann" :deps/manifest :deps}
        ;;
        }
 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
           :main-opts ["-m" "cljfmt.main"
                       "--indents" "cljfmt.edn"]}

  ; run with: clojure -X:run :task ':bybit-import' :symbol-list "currency-spot"
  ; see README.md for available tasks
  :run {:extra-paths ["cli"]
        :exec-fn demo.env.cli/run
        :exec-args {:config "ta-config.edn"}
        :jvm-opts ["-Xmx4G"] ;; or more
        }


  :goldly-docs {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.502"}}
                :exec-fn goldly.app/goldly-server-run!
                :exec-args {:profile "jetty"
                            :config "ta-config.edn"}}




;
  }}

