{:timbre-loglevel
 [[#{"pinkgorilla.nrepl.*"} :warn]
  [#{"org.eclipse.jetty.*"} :warn]
  [#{"modular.ws.*"} :warn] ; modular.ws.msg-handler
  [#{"webly.*"} :info]
  [#{"*"} :info]]

 :nrepl {:enabled true
         :bind "0.0.0.0"
         :port 9100}

 
 :webly/web-server {:port 8080
                    :host "0.0.0.0"
                    :ssl-port 8443
                    :keystore "./certs/keystore.p12"
                    :key-password "password"; Password you gave when creating the keystore
                    :jetty-ws {"/api/chsk" :ws/chsk-get}}


 :goldly {:enabled true
          :lazy true
          :src-dir "src"
          ; runtime
          :autoload-clj-ns [demo.goldly.services
                            demo.goldly.reval ; for techml rendering (no need to require namespace)
                            ta.tradingview.server
                            goldly.devtools]

          :autoload-cljs-dir ["goldly/lib"
                              "goldly/devtools"
                              "ta/tradingview/goldly"
                              "demo/goldly/view"
                              "demo/goldly/page"
                              ]
          :routes {:app {"" :user/main
                         ;warehouse
                         "warehouse" :user/warehouse
                         ;backtest
                         "algo/backtest" :algo/backtest
                         "algo/tv" :algo/tv
                         ; gann
                         "tradingview" :tradingview
                         "gann" :gann
                         ; devtools
                         "devtools/pages" :pages
                         "devtools/help" :devtools
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/environment" :environment
                         "devtools/theme" :theme}
                   :api {"arrow" :dataset/arrow
                         "rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         "tv/" {:get  {"config" :tv/config
                                       "time" :tv/time
                                       "search" :tv/search
                                       "symbols" :tv/symbols
                                       "history" :tv/history
                                       "marks" :tv/marks
                                       }
                                "storage/1.1/" {"charts" {:get  :tv-db/load-chart
                                                          :post :tv-db/save-chart
                                                          :put  :tv-db/modify-chart
                                                          :delete  :tv-db/delete-chart}
                                                "study_templates" {:get :tv-db/load-template
                                                                   :post :tv-db/save-template
                                                                   ;:put :tv-db/modify-template
                                                                   :delete :tv-db/delete-template}}}}}}

 :reval {:rdocument  {:storage-root "../../target/rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:data [:clj "notebook/data/"]
                       :studies [:clj "notebook/studies/"]
                       :datascience [:clj "notebook/datascience/"]
                       :playground [:clj "notebook/playground/"]
                       :demo [:clj "demo/notebook/"]}}

 :ta {:warehouse {:list "../resources/symbollist/"
                  :series  {:crypto "../../target/db/crypto/"
                            :stocks "../../target/db/stocks/"
                            :random "../../target/db/random/"
                            :shuffled  "../../target/db/shuffled/"}
                  :lists ["crypto"
                          "fidelity-select"
                          "bonds"
                          "commodity-industry"
                          "commodity-sector"
                          "currency-spot"
                          "equity-region"
                          "equity-region-country"
                          "equity-sector-industry"
                          "equity-style"
                          "test"]}
      :tradingview {:charts-path   "../../target/tradingview-charts/"
                    :template-path "../resources/tradingview-templates/"
                    :marks-path "../../data/"
                    }}


 :demo {:gann-data-file "../resources/gann.edn"}
;
 }
