{:timbre/clj {:min-level  [[#{"org.eclipse.jetty.*"
                               "webly.*"
                               "webly.ws.*"} :info]
                            [#{"goldly.*"} :info]
                            [#{"ui.*"} :info]
                            [#{"user"} :warn] ; demos
                            [#{"*"} :info]]}

 :nrepl {:enabled true
         :bind "0.0.0.0"
         :port 9100}

 :webly/web-server {:port 8080
                    :host "0.0.0.0"
                    :ssl-port 8443
                    :keystore "./certs/keystore.p12"
                    :key-password "password"; Password you gave when creating the keystore
                    :jetty-ws {"/api/chsk" :ws/chsk-get}}

 :ns-clj [demo.goldly.services
          demo.goldly.reval ; for techml rendering (no need to require namespace)
          ta.tradingview.server]

 :goldly {:enabled true
          :lazy true
          :src-dir "src"
          ; runtime
          :autoload-cljs-dir ["ta/tradingview/goldly"
                              "demo/goldly/lib"
                              "demo/goldly/view"
                              "demo/goldly/page"]
          :routes {:app {"" :user/main
                         ;warehouse
                         "warehouse" :user/warehouse
                         ;backtest
                         "algo/backtest" :algo/backtest
                         "algo/tv" :algo/tv
                         ; gann
                         "tradingview" :tradingview
                         "gann" :gann
                         ; devtools
                         "devtools/pages" :pages
                         "devtools/help" :devtools
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/environment" :environment
                         "devtools/theme" :theme}
                   :api {"arrow" :dataset/arrow
                         "rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         "tv/" {:get  {"config" :tv/config
                                       "time" :tv/time
                                       "search" :tv/search
                                       "symbols" :tv/symbols
                                       "history" :tv/history
                                       "marks" :tv/marks}
                                "storage/1.1/" {"charts" {:get  :tv-db/load-chart
                                                          :post :tv-db/save-chart
                                                          :put  :tv-db/modify-chart
                                                          :delete  :tv-db/delete-chart}
                                                "study_templates" {:get :tv-db/load-template
                                                                   :post :tv-db/save-template
                                                                   ;:put :tv-db/modify-template
                                                                   :delete :tv-db/delete-template}}}}}}

 :reval {:rdocument  {:storage-root "../../output/rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:data [:clj "notebook/data/"]
                       :studies [:clj "notebook/studies/"]
                       :datascience [:clj "notebook/datascience/"]
                       :playground [:clj "notebook/playground/"]
                       :demo [:clj "demo/notebook/"]
                       :test [:cljs "demo/goldly/view/"]
                       
                       }}

 :ta {:warehouse {:list "../resources/symbollist/"
                  :series  {:crypto "../../output/db/crypto/"
                            :stocks "../../output/db/stocks/"
                            :random "../../output/db/random/"
                            :shuffled  "../../output/db/shuffled/"}
                  :lists ["crypto"
                          "fidelity-select"
                          "bonds"
                          "commodity-industry"
                          "commodity-sector"
                          "currency-spot"
                          "equity-region"
                          "equity-region-country"
                          "equity-sector-industry"
                          "equity-style"
                          "test"]}
      :tradingview {:charts-path   "../../output/tradingview-charts/"
                    :template-path "../resources/tradingview-templates/"
                    :marks-path "../../data/"}}


 :demo {:gann-data-file "../resources/gann.edn"}
;
 }
