{:timbre/clj {:min-level  [[#{"org.eclipse.jetty.*"
                              "webly.*"
                              "webly.ws.*"} :info]
                           [#{"goldly.*"} :info]
                           [#{"ui.*"} :info]
                           [#{"user"} :warn] ; demos
                           [#{"*"} :info]]}

 :webly/web-server {:port 8080
                    :host "0.0.0.0"
                    :ssl-port 8443
                    :keystore "./certs/keystore.p12"
                    :key-password "password" ; Password you gave when creating the keystore
                    :jetty-ws {"/api/chsk" :ws/chsk-get}}

 :ns-clj [demo.goldly.reval ; for techml rendering (no need to require namespace)
          demo.env.algos]

 :goldly {:lazy true
          :src-dir "src"
; runtime
          :autoload-cljs-dir ["demo/goldly/page"]
          :routes {:app {"" :user/main
                         "test" :user/test
;warehouse
                         "warehouse" :user/warehouse
                         "series" :user/series
;backtest
                         "algo/backtest" :algo/backtest
                         "algo/tradingview" :tradingview/algo
; gann
                         "tradingview" :tradingview/udf
                         "gann" :gann
                         "joseph" :joseph/trades
; devtools
                         "devtools/pages" :pages
                         "devtools/help" :devtools
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/environment" :environment
                         "devtools/theme" :theme}
                   :api {"arrow" :dataset/arrow}}}

 :reval {:rdocument  {:storage-root "../../output/rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:data [:clj "notebook/data/"]
                       :studies [:clj "notebook/studies/"]
                       :datascience [:clj "notebook/datascience/"]
                       :playground [:clj "notebook/playground/"]
                       ;:demo [:clj "demo/notebook/"]
                       :test [:cljs "demo/goldly/view/"]}}

 :ta {:warehouse {:list "../resources/symbollist/"
                  :series  {:crypto "../../output/db/crypto/"
                            :stocks "../../output/db/stocks/"
                            :fx "../../output/db/fx/"
                            :futures "../../output/db/futures/"
                            :random "../../output/db/random/"
                            :shuffled  "../../output/db/shuffled/"}
                  :lists ["crypto"
                          "fidelity-select"
                          "bonds"
                          "commodity-industry"
                          "commodity-sector"
                          "currency-spot"
                          "equity-region"
                          "equity-region-country"
                          "equity-sector-industry"
                          "equity-style"
                          "test"
                          "futures-kibot"
                          ]}
      :tradingview {:charts-path   "../../output/tradingview-charts/"
                    :template-path "../resources/tradingview-templates/"
                    :marks-path "../../data/"}}


 :demo {:gann-data-file "../resources/gann.edn"}
;
 }
