{:timbre/clj {:min-level  [[#{"org.eclipse.jetty.*"
                              "webly.*"
                              "webly.ws.*"} :info]
                           [#{"goldly.*"} :info]
                           [#{"ui.*"} :info]
                           [#{"user"} :warn] ; demos
                           [#{"*"} :info]]}

 :webly/web-server {:port 8080
                    :host "0.0.0.0"
                    :ssl-port 8443
                    :keystore "./certs/keystore.p12"
                    :key-password "password" ; Password you gave when creating the keystore
                    :jetty-ws {"/api/chsk" :ws/chsk-get}}

 :ns-clj [demo.goldly.reval ; for techml rendering (no need to require namespace)
          demo.env.algos
          ta.tradingview.server]

 :goldly {:lazy true
          :src-dir "src"
; runtime
          :autoload-cljs-dir ["ta/tradingview/goldly"
                              "demo/goldly/page"]
          :routes {:app {"" :user/main
;warehouse
                         "warehouse" :user/warehouse
;backtest
                         "algo/backtest" :algo/backtest
                         "algo/tv" :algo/tv
; gann
                         "tradingview" :tradingview
                         "gann" :gann
; devtools
                         "devtools/pages" :pages
                         "devtools/help" :devtools
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/environment" :environment
                         "devtools/theme" :theme}
                   :api {"arrow" :dataset/arrow
                         "rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         "tv/" {:get  {"config" :tv/config
                                       "time" :tv/time
                                       "search" :tv/search
                                       "symbols" :tv/symbols
                                       "history" :tv/history
                                       "marks" :tv/marks}
                                "storage/1.1/" {"charts" {:get  :tv-db/load-chart
                                                          :post :tv-db/save-chart
                                                          :put  :tv-db/modify-chart
                                                          :delete  :tv-db/delete-chart}
                                                "study_templates" {:get :tv-db/load-template
                                                                   :post :tv-db/save-template
;:put :tv-db/modify-template
                                                                   :delete :tv-db/delete-template}}}}}}

 :reval {:rdocument  {:storage-root "../../output/rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:data [:clj "notebook/data/"]
                       :studies [:clj "notebook/studies/"]
                       :datascience [:clj "notebook/datascience/"]
                       :playground [:clj "notebook/playground/"]
                       :demo [:clj "demo/notebook/"]
                       :test [:cljs "demo/goldly/view/"]}}

 :ta {:warehouse {:list "../resources/symbollist/"
                  :series  {:crypto "../../output/db/crypto/"
                            :stocks "../../output/db/stocks/"
                            :fx "../../output/db/fx/"
                            :futures "../../output/db/futures/"
                            :random "../../output/db/random/"
                            :shuffled  "../../output/db/shuffled/"}
                  :lists ["crypto"
                          "fidelity-select"
                          "bonds"
                          "commodity-industry"
                          "commodity-sector"
                          "currency-spot"
                          "equity-region"
                          "equity-region-country"
                          "equity-sector-industry"
                          "equity-style"
                          "test"
                          "futures-kibot"
                          ]}
      :tradingview {:charts-path   "../../output/tradingview-charts/"
                    :template-path "../resources/tradingview-templates/"
                    :marks-path "../../data/"}}

 :clj-services {:name "trateg services"
                :symbols [; warehouse
                          ta.warehouse.symbollist/get-lists
                          ta.warehouse.symbollist/load-list
                          ta.warehouse.overview/overview-map
                          ; algo
                          ta.algo.manager/algo-names
                          ta.algo.manager/algo-info
                          ta.algo.manager/tradingview-algo-chart-specs
                          ta.algo.manager/algo-run-window-browser
                          ta.algo.manager/algo-run-browser
                          ta.algo.manager/algo-marks
                          ta.algo.manager/algo-shapes
                          ; tradingview api (via websocket)
                          ta.tradingview.handler-datasource/get-server-config
                          ta.tradingview.handler-datasource/symbol-info
                          ta.tradingview.handler-datasource/symbol-search
                          ta.tradingview.handler-datasource/server-time
                          ; gann
                          ta.gann.db/load-gann
                          ta.gann.db/save-gann
                          ta.gann.svg-plot/gann-svg-web
                          ta.gann.svg-plot/get-boxes
                          ; testing
                          ta.helper.date/now-datetime]
                :permission  #{}}

 :demo {:gann-data-file "../resources/gann.edn"}
;
 }
