{:name "ta-interact"
 :clj-services {:name "ta-interact-services"
                :permission  #{}
                :symbols [ta.interact.template/available-templates
                          ta.interact.template/get-options
                          ta.interact.subscription/subscribe-live]}
 :sci-cljs-ns [ta.interact.view.state
               ta.interact.view.options
               ta.interact.view.live-result
               ta.interact.page.algo]
 :cljs-routes {"interact" ta.interact.page.algo/algo-page}
 }