{:paths ["src" "classes"]
 :deps {ta/trateg {:local/root "../.." :deps/manifest :deps}
        ta/data {:local/root "../data" :deps/manifest :deps}
        com.taoensso/timbre {:mvn/version "5.1.2"} ; clj/cljs logging
        aysylu/loom {:mvn/version "1.0.2"}
        ;scicloj/clojisr {:mvn/version "1.0.0-BETA11-SNAPSHOT"}
        }
 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :goldlyb
  {:extra-deps {org.pinkgorilla/goldly-bundel {:mvn/version "0.3.38"}
                org.apache.arrow/arrow-vector {:mvn/version  "2.0.0"}
                org.apache.arrow/arrow-memory-unsafe {:mvn/version "2.0.0"}
                }
   :exec-fn goldly-server.app/goldly-server-run!
   :exec-args {:profile "jetty"
               :config "goldly-ta.edn"}}

  :goldly
  {:extra-deps {org.pinkgorilla/goldly {:mvn/version "0.3.38"}
                org.pinkgorilla/ui-input {:mvn/version "0.0.13"}
                org.pinkgorilla/ui-highcharts {:mvn/version "0.0.13"}
                org.pinkgorilla/ui-gorilla  {:mvn/version "0.3.50"}
                org.pinkgorilla/ui-aggrid {:mvn/version "0.0.11"}}
   :exec-fn goldly-server.app/goldly-server-run!
   :exec-args {:profile "watch2"
               :config "goldly-ta.edn"}}

  ;; demo jobs

  :import {:exec-fn demo.data.import/import-ts
           :exec-args {:symbol-list "test" ; "fidelity-select"
                       }}

  :show {:exec-fn demo.data.import/show-ts
         :exec-args {:symbol-list "test" ; "fidelity-select"
                     }}


  :calc {:exec-fn demo.swinger/calc
         :exec-args {}}

  :demo {;:exec-fn demo.swinger/calc
          ;:exec-args {}
         }

;
  }}

