{:paths ["src" "classes"]
 :deps {ta/trateg {:local/root "../.." :deps/manifest :deps}
        ta/data {:local/root "../data" :deps/manifest :deps}
        ta/tradingview {:local/root "../tradingview" :deps/manifest :deps}
        com.taoensso/timbre {:mvn/version "5.1.2"} ; clj/cljs logging
        aysylu/loom {:mvn/version "1.0.2"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
        cljplot/cljplot {:mvn/version "0.0.2a-SNAPSHOT"}
        io.github.adam-james-v/svg-clj {:mvn/version "0.0.9"}
        org.scicloj/wadogo {:mvn/version "0.1.0-SNAPSHOT"}}
 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :goldly-docs
  {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.3.76"}
                org.apache.arrow/arrow-vector {:mvn/version  "2.0.0"
                                               :exclusions [commons-codec/commons-codec]}
                org.apache.arrow/arrow-memory-unsafe {:mvn/version "2.0.0"}}
   :exec-fn goldly.app/goldly-server-run!
   :exec-args {:profile "jetty"
               :config "goldly-ta.edn"}}



  ;; data import

  :create-random-data {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.3.50"}} ; log config
                       :exec-fn  demo.warehouse.create-random/task-create-random}

  :alphavantage-import {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.3.50"}} ; log config
                        :exec-fn demo.warehouse.import-alphavantage/task-alphavantage-import-initial
                        ;:exec-args {:symbol-list "test" ; "fidelity-select"
                        ;            }
                        }

  :bybit-import-initial {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.3.50"}} ; log config
                         :exec-fn  demo.warehouse.import-bybit/task-bybit-import-initial}

  :bybit-import-append {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.3.50"}} ; log config
                        :exec-fn  demo.warehouse.import-bybit/task-bybit-import-append}


  ;; warehouse status

  :show {:exec-fn demo.data.import/show-ts
         :exec-args {:symbol-list "test" ; "fidelity-select"
                     }}


  ;; strategies

  :calc {:exec-fn demo.swinger/calc
         :exec-args {}}

  :demo {;:exec-fn demo.swinger/calc
          ;:exec-args {}
         }

  :bollinger-strategy {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.3.50"}} ; log config
                       :exec-fn demo.viktor.task/task-bollinger-study}

  :bollinger-optimizer {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.3.50"}} ; log config
                        :exec-fn demo.viktor.task/task-bollinger-optimizer}

;
  }}

