{:timbre-loglevel
 [[#{"pinkgorilla.nrepl.*"} :warn]
  [#{"org.eclipse.jetty.*"} :warn]
  [#{"webly.*"} :info]
  [#{"*"} :info]]

 :nrepl {:enabled true
         :bind "0.0.0.0"
         :port 9100}

 :goldly {:enabled true
          :lazy true
          :src-dir "src"
          ; runtime
          :autoload-clj-ns [demo.env.services
                            demo.env.reval ; for techml rendering (no need to require namespace)
                             ;ta.viz.arrow ; dataset->arrow 
                            ]
          :autoload-cljs-dir ["src/goldly/lib"
                              "src/goldly/devtools"
                              "src/demo/goldly/view"
                              "src/demo/goldly/page"]
          :routes {:app {"" :user/main
                         ;warehouse
                         "warehouse" :user/warehouse
                         ;backtest
                         "algo/backtest" :algo/backtest
                         "algo/table" :algo/table
                         "algo/chart" :algo/chart
                         ;test
                         "error" :user/error
                         "test/heatmap" :test/heatmap
                         "test/histogram" :test/histogram
                         "test/experiment" :test/experiment
                         ; devtools
                         "devtools/pages" :pages
                         "devtools/help" :devtools
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/environment" :environment}
                   :api {"arrow" :dataset/arrow
                         "rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         }}}

 :devtools {:rdocument  {:storage-root "../../rdocument/"
                         :url-root "/api/rdocument/file/"}
            :collections {:data [:clj "notebook/data/"]
                          :studies [:clj "notebook/studies/"]
                          :datascience [:clj "notebook/datascience/"]
                          :playground [:clj "notebook/playground/"]
                          :demo [:clj "demo/notebook/"]}}


;
 }
