{:name "trateg"
    ; runtime
 :clj-services {:name "trateg services"
                :permission  #{}
                :symbols [; db
                          ;ta.db.asset.symbollist/get-lists
                          ;ta.db.asset.symbollist/load-list
                          ;ta.warehouse.overview/overview-map
                          ; algo
                          ta.algo.manager/algo-names
                          ta.algo.manager/algo-info
                          ta.algo.manager/tradingview-algo-chart-specs
                          ta.algo.manager/algo-run-window-browser
                          ta.algo.manager/algo-run-browser
                          ta.algo.manager/algo-marks
                          ta.algo.manager/algo-shapes
                          ; testing
                          ta.helper.date/now-datetime]}
  :cljs-routes {;warehouse
                "warehouse" ta.viz.page.warehouse/warehouse-page
                "algo/backtest" ta.viz.page.backtest/algo-backtest-page}

  :sci-cljs-ns [; viz
                ta.viz.nav-table
                ta.viz.nav-vega
                ta.viz.trades-table]

}