{:name "joseph"
 ; runtime
 :api-routes {"joseph/" {:post  {"upload" joseph.upload/wrapped-save-file}}}
 :clj-services {:name "joseph"
                :permission #{:dev}
                :symbols [joseph.nav/calc-nav-browser
                          joseph.trades/load-trades
                          joseph.realtime/realtime-snapshot
                          joseph.realtime/realtime-snapshot-stocks
                          joseph.realtime/daily-snapshot-futures
                          ]}

 :autoload-cljs-dir ["joseph/page"]
 :cljs-routes {"joseph" {"" :joseph/trades
                         "/nav" :joseph/nav
                         "/live" :joseph/live}
               
               }
 }

