
[{:sector :materials :name "Basic Materials" :symbol "IYM"   :also ["VAW" "XLB"]}
 {:sector :materials :name "Gold Mining" :symbol "GDX"}
 {:sector :materials :name "Metals and Mining" :symbol "XME"}
 {:sector :materials :name "Nat. Resources Natural Resources" :symbol "IGE"}

 {:sector :consumer-goods :name "Home Construction" :symbol "ITB" :also ["XHB"]}
 {:sector :consumer-goods :name "Building and Construction" :symbol "PKB"}
 {:sector :consumer-goods :name "Consumer Goods (staples)" :symbol "IYK" :also ["VDC" "XLP"]}
 {:sector :consumer-goods :name "Food and Beverage" :symbol "PBJ"}

; Consumer Discretionary
  {:sector :consumer-services :name "Consumer Discretionary" :symbol "VCR" :also ["XLY"]}
;Consumer Discretionary Select Sector SPDR                XLY    0.26     yes         1369
;IShares DJ US Consumer Cyclical Sector                     IYC     0.48     yes             98
;Retail HOLDRS                                                           RTH     0*        yes         3388
;Consumer Discretionary VIPERS                                 VCR    0.28     yes             13
;Dynamic Leisure and Entertainment                               PEJ      0.60     yes             28
;Dynamic Retail                                                             PMR    0.60     yes             47
;Dynamic Hardware and Consumer Electronics              PHW   0.60     yes             10
;SPDR Retail                                                                 XRT     0.35     yes           499
;Dynamic Consumer Discretionary                                 PEZ     0.60     yes             10  
;Market Vector Environmental Services                         EVX    0.55     yes               5
;Rydex Equal Weight Consumer Discretionary                RCD    0.50     no              13

 
 {:sector :consumer-services :name "Consumer Services (retail)" :symbol "IYC" :also ["PMR" "RTH" "XRT"]}

 {:sector :consumer-services :name "Leisure and Entertainment" :symbol "PEJ"}
 {:sector :consumer-services :name "Media" :symbol "PBS"}

 {:sector :energy :name "Energy IYE, IXC (global)" :symbol "VDE" :also ["XLE"]}
 {:sector :energy :name "Oil Services" :symbol "IEZ" :also ["PXJ" "OIH" "XES"]}
 {:sector :energy :name "Oil & Gas Exploration and Production" :symbol "IEO" :also ["PXE" "XOP"]}
 {:sector :energy :name "WilderHill Clean Energy" :symbol "PBW"}

 {:sector :financial :name "Regional Banks" :symbol "IAT" :also ["RKH" "KRE"]}
 {:sector :financial :name "Insurance" :symbol "IAK" :also ["PIC" "KIE"]}
 {:sector :financial :name "Financial Services" :symbol "IYG"}
 {:sector :financial :name "Financials" :symbol "IYF" :also ["VFH" "XLF" "KBE"]}
 {:sector :financial :name "Broker-Dealers" :symbol "IAI" :also ["KCE"]}
 {:sector :financial :name "Real Estate (REITs)" :symbol "IYR" :also ["ICF" "VNQ" "RWR"]}

 {:sector :healthcare :name "Healthcare" :symbol "IYH" :also ["VHT" "XLV"]}
 {:sector :healthcare :name "Biotech" :symbol "IBB" :also ["PBE" "BBH" "XBI" "FBT"]}
 {:sector :healthcare :name "Pharmaceuticals" :symbol "IHE" :also ["PJP" "PPH" "XPH"]}
 {:sector :healthcare :name "Medical Devices" :symbol " IHI"}
 {:sector :healthcare :name "Health Care Providers" :symbol "IHF"}

 {:sector :industrial :name "Industrial Industrials" :symbol "IYJ" :also ["VIS" "XLI"]}
 {:sector :industrial :name "Aerospace & Defense" :symbol "ITA" :also ["PPA"]}

 Industrials
Industrial Select Sector SPDR                                      XLI      0.26     yes         2498
IShares DJ Transportation Average                               IYT      0.48     yes           735
IShares DJ US Industrial Sector                                    IYJ       0.48     yes             32
Vanguard Industrials VIPERs                                        VIS      0.28     yes             15
Dynamic Building and Construction                               PKB    0.60     yes             20
iShares Home Construction                                           ITB      0.48     no            136
Homebuilder SPDRs                                                    XHB    0.35     yes         2474
Dynamic Aerospace and Defense                                  PPA     0.60     yes           129
iShares Aerospace and Defence                                    IHE      0.48     no              21
FTSE RAFI Industrials                                                 PRFN  0.60     no                3
Dynamic Industrials                                                       PRN    0.60     yes             16
Market Vector Steel                                                     SLX     0.55     yes             26
PowerShares Aerospace and Defense                           PPA     0.60     yes            129
Rydex Equal Weight Industrials                                     RGI      0.50     no                2
First Trust Industrials/Producer Durables AlphaDEXFXR          0.70     no           N/A

 
 
 {:sector :technology :name "Computer Hardware" :symbol "PHW" :also ["IAH"]}
 {:sector :technology :name "Internet - diversified" :symbol "HHH" :also ["IIH" "BHH" "FDN"]}
 {:sector :technology :name "Software" :symbol "IGV" :also ["PSJ" "SWH"]}
 {:sector :technology :name "Semiconductor" :symbol "IGW" :also ["PSI" "SMH" "XSD"]}
 {:sector :technology :name "Networking" :symbol "IGN" :also ["PXQ" "BDH"]}
 {:sector :technology :name "Technology - diversified" :symbol "IGM" :also ["IYW" "IXN" "VGT" "XLK" "MTK" "QTEC"]}
 {:sector :technology :name "Nanotech Lux Nanotech" :symbol "PXN"}

 {:sector :telecom :name "Telecom Telecommunications" :symbol "PXN" :also ["IYZ" "IXP" "TTH" "VOX"]}
 {:sector :telecom :name "Wireless (including telcos)" :symbol "PXN" :also ["PTE" "WMH"]}

 {:sector :transport :name "Transportation" :symbol "IYT"}

 {:sector :utilities :name "Utilities" :symbol "IDU" :also ["PUI" "UTH" "VPU" "XLU"]}]

