{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  tick/tick              {:mvn/version "0.6.2"}
  scicloj/tablecloth {:mvn/version "6.103.1"} ; brings techml-dataset
  org.pinkgorilla/modular {:mvn/version "0.0.37"} ; logging
  }
;
  }
