
;   ;
   ;[dataset-tools "0.1.12"] ; not working - opened ticket
   ; [com.stuartsierra/frequencies "0.1.0"]     ; percentile stats


; :jvm-opts ["-Djava.io.tmpdir=./tmp"]
; :jvm-opts ["-Djdk.attach.allowAttachSelf"
;            "-XX:+UnlockDiagnosticVMOptions"
;            "-XX:+DebugNonSafepoints"]