{:paths ["src" "classes"]
 :deps {ta/data {:local/root "../../lib/data" :deps/manifest :deps}}
 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :import {:exec-fn demo.warehouse/import
           :exec-args {}}


  :demo {;:exec-fn demo.swinger/calc
          ;:exec-args {}
         }


 


;
  }}

